@media (min-width: 375px) {
  .app {
    max-width: 375px;
  }
}

@media (min-width: 1024px) {
  .app {
    max-width: 1024px;
  }
}

@media (min-width: 1440px) {
  .app {
    max-width: 1440px;
  }
}
